<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    h1 {
        color: lightblue;
    }
    </style>
    <link rel='stylesheet'type='text/css' href={{ url_for('static', filename='test.css') }}/>
</head>
<body>
    <h1 style="font-family: Impact">Test CSS</h1>
    <p>Nama : {{ data['name'] }}</p>
    <p>Job : {{ data['kerja'] }}</p>
    <p>Alamat : {{ data['address'] }}</p>
</body>
</html>